<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvcZmrqj5IpT1T85DI2lbdHWyhsI4wdTU</string>
	<key>GCM_SENDER_ID</key>
	<string>717421670072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trainApp</string>
	<key>PROJECT_ID</key>
	<string>trainapp-90068</string>
	<key>STORAGE_BUCKET</key>
	<string>trainapp-90068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717421670072:ios:941b1693e1a76f63e98e4d</string>
</dict>
</plist>